{% extends "layout.html" %}

{% block content %}
<div class="blog-area section-padding-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <div class="single-blog-post-details">
                        <div class="post-thumb">
                            <img src="{{ url_for('static', filename='posts_pics/' + post.image_file) }}"}}
                             style="margin-right: 5px; width: 350px; height: 260px" alt="">
                        </div>
                        <div class="post-data mb-70">
                            <a href="#" class="post-catagory"
                               style="background-color: #{{ post.category.color }}">
                                {{ post.category }}</a>
                            <h2 class="post-title">{{ post.title }}</h2>
                            <div class="post-meta">
                                <!-- Post Details Meta Data -->
                                <div class="post-details-meta-data mb-50 d-flex align-items-center justify-content-between">
                                    <!-- Post Author & Date -->
                                    <div class="post-authors-date">
                                        <p class="post-author">
                                            <img class="rounded-circle article-img"
                                                 style="margin-right: 5px; width: 50px; height: 50px"
                                                 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                                            <a href="{{ url_for('users.user_posts', username=post.author.username) }}">

                                                {% if post.author.username == current_user.username %}
                                                Это Ваш пост
                                                {% else %}
                                                Автор: {{ post.author.username }}
                                                {% endif %}

                                            </a>
                                        </p>
                                        <p class="post-date">Опубликовано:
                                            {{ post.date_posted.strftime('%A, %d %B %Y %I:%M %p') }}
                                        </p>
                                    </div>
                                    <!-- View Comments -->
                                    <div class="view-comments">
                                        {% if current_user.is_authenticated %}
                                        <a href="#comments" class="comments">
                                            {{ post.comments.count()}} комментариев
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <p>{{ post.content }}</p>
                                <p>{% include 'includes/likes.html' %}</p>

                                <!-- Редактирование и удаление -->
                                {% if post.author == current_user %}
                                <div class="card-footer" style="font-size: 20px;">
                                    <div class="card-footer" style="font-size: 20px;">
                                        {% if post.author == current_user %}
                                        <a class="btn btn-secondary btn-sm mt-1 mb-1"
                                           href="{{url_for('posts.update_post', post_id=post.id) }}">
                                            Редактировать
                                        </a>
                                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                                                data-target="#deleteModal">
                                            Удалить
                                        </button>
                                        {% endif %}
                                        {% endif %}
                                    </div>

                                    {% include 'includes/comments.html' %}
                                </div>
                            </div>
                        </div>

                        <div class="container" style="display: flex;">
                            <div class="card" style="margin-bottom: 20px;">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно!!! -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удалить пост?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                </button>
                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Удалить">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
